<%= attachment_image_tag message.owner, :profile_image, format: 'jpeg', class: "rounded-circle", fallback: "no_img.jpg", size: "30x30" %>
<span class="label label-default"><%= message.owner.name %></span>
<p><%= message.content %><p>





