<div class="example">
	 <img src="/assets/welcom.jpg" alt="logo" >
  <p class="main-text">ようこそSpreadへ</p>
  <p class="description-text">マイページを編集して気になるインフルエンサーにスカウトチャットを送ろう</p>
  <p class="edit-btn"><%= link_to "マイページ編集", edit_owner_path(current_owner), class: "btn btn-info" %></p>
  <p class="influencer-btn"><%= link_to "インフルエンサーを探す", owner_influencers_path, class: "btn btn-success" %></p>
</div>