<div class="example">
	 <img src="/assets/welcom.jpg" alt="logo" >
  <p class="main-text">ようこそSperadへ</p>
  <p class="description-text">マイページを編集してクライアントからのスカウトチャットを待とう</p>
  <p class="edit-btn"><%= link_to "マイページ編集", edit_influencer_path(current_influencer), class: "btn btn-info" %></p>
</div>





