<div class="example">
  <%= image_tag '/images/welcom.jpg' %>
  <p class="main-text">ようこそSpreadへ</p>
  <p class="description-text">マイページを編集してクライアントからのスカウトチャットを待とう</p>
  <p class="edits-btn"><%= link_to "マイページ編集", edit_influencer_path(current_influencer), class: "btn btn-info" %></p>
</div>





